html {
  font-family: Arial, sans-serif;
  background-color: #ffe0f1;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

#chart {
  background-color: #ffe9f9;
  padding: 20px;
  border-radius: 8px;
}
